
<div ng-hide="isLoggedIn" class="home-content">
	<h1>Welcome to MySong!</h1>
	<h2>Putting you in control of the music at events everywhere!</h2>
	<h3>Please login to get started!</h3>
</div>
<div ng-show="isLoggedIn">

	<div class="form-group col-sm-5">
  		<label for="usr">Song:</label>
  		<input type="text" class="form-control" id="song" ng-model="songRequest.song">
	</div>

	<div class="form-group col-sm-5">
  		<label for="usr">Artist:</label>
  		<input type="text" class="form-control" id="artist" ng-model="songRequest.artist">
	</div>

	<button type="button" class="btn btn-success col-sm-2" ng-click="addSongRequest()">Submit</button>

</div>
